li {
  text-decoration: none;
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-image: url(./assets/isaac-e-quezada-CuropgVMpRQ-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container h1 {
  font-family: "Play", sans-serif;
  font-size: 40px;
  margin: 0;
}

.main-container p {
  font-family: "Play", sans-serif;
  font-size: 20px;
  margin-top: 2rem;
}

.input-search {
  width: 16rem;
  margin-top: 5rem;
  border-radius: 8px;
   box-shadow: 0 5px 5px hsla(219, 96%, 11%, 0.604),
    0 5px 12px rgba(224, 0, 123, 0.226);
    border: none;
    padding: 10px;
}

.information-container {
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 15px 10px hsla(219, 96%, 11%, 0.604),
    0 10px 12px rgba(224, 0, 123, 0.226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  padding: 1rem;
  margin-top: 2rem;
background: rgba(255, 255, 255, 0.21);
border-radius: 16px;
backdrop-filter: blur(10.7px);
-webkit-backdrop-filter: blur(10.7px);
}

.information-section h3 {
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.information-section li {
  font-size: 40px;
}

.information-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
